@using CraftWorksWebApp.Models
@model List<Product>

<h1>Products</h1>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="@product.ImageUrl" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Price: @String.Format("{0:C}", product.Price)</p>
                    <p class="card-text">Category: @product.Category</p>
                    <p class="card-text">Availability: @(product.Availability ? "Available" : "Not Available")</p>
                    @if (product.Availability)
                    {
                        <form asp-controller="CraftWorks" asp-action="PlaceOrder" method="post">
                            <input type="hidden" name="productId" value="@product.ProductID" />
                            <button type="submit" class="btn btn-primary">Order</button>
                        </form>
                    }
                    else
                    {
                        <button class="btn btn-secondary" disabled>Order</button>
                    }

                   
                </div>

            </div>
        </div>
    }
</div>

<a asp-controller="CraftWorks" asp-action="Orders" class="btn btn-info">View Orders</a>





